@{
    ViewBag.Title = "PEDACITO DE CIELO";
}

<h1>Tienda de repostería</h1>

<div class="row">
    <div class="col-md-4 mb-4">
        <div class="card">
            <img src="~/imagen/dulce1.png" class="card-img-top" alt="Dulce">
            <div class="card-body">
                <h5 class="card-title">Dulce Afroantillano (Dulce de frutas)</h5>
                <p class="card-text">
                    -Frutas tropicales: piña, guayaba, papaya, mango o plátano.
                    <br>
                    -Azúcar: generalmente azúcar morena o de caña.
                    <br>
                    -Especias: canela, clavo de olor, jengibre y nuez moscada.
                    <br>
                    -Coco rallado (opcional).
                    <br>
                    -Ralladura de cítricos: naranja o limón.
                    <br>
                    -Vainilla (opcional).
                    <br>
                    -Ron o esencia de ron (opcional, para darle un toque caribeño).
                </p>
                <div class="d-flex justify-content-between align-items-center">
                    <span class="text-muted" style="font-size: 22px; font-weight: bold;">$10.00</span>
                    <button class="btn btn-primary btn-agregar" data-id="1" data-nombre="Dulce Afroantillano" data-precio="10.00">Agregar al Carrito</button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4 mb-4">
        <div class="card">
            <img src="~/imagen/dulce6.jpeg" class="card-img-top" alt="Dulce">
            <div class="card-body">
                <h5 class="card-title">ChocoFlan</h5>
                <p class="card-text">
                    -Ingredientes: Leche evaporada, leche entera, huevos y mantequilla.
                    <br>
                    -Opcional: Aceite vegetal
                    <br>
                    -Harinas: Trigo y Chocolate
                </p>
                <div class="d-flex justify-content-between align-items-center">
                    <span class="text-muted" style="font-size: 22px; font-weight: bold;">$30.00</span>
                    <button class="btn btn-primary btn-agregar" data-id="2" data-nombre="ChocoFlan" data-precio="30.00">Agregar al Carrito</button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4 mb-4">
        <div class="card">
            <img src="~/imagen/dulce7.jpeg" class="card-img-top" alt="Dulce">
            <div class="card-body">
                <h5 class="card-title">Flanes</h5>
                <p class="card-text">
                    -Ingredientes: Leche evaporada, Leche entera, huevos, maizcena, cereza.
                    <br>
                    -Opcional: Cambio de cereza por fresa
                    <br>
                    -Sabores: Chocolate, Napolitano, Cafe.
                </p>
                <div class="d-flex justify-content-between align-items-center">
                    <span class="text-muted" style="font-size: 22px; font-weight: bold;">$5.00</span>
                    <button class="btn btn-primary btn-agregar" data-id="3" data-nombre="Flanes" data-precio="5.00">Agregar al Carrito</button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4 mb-4">
        <div class="card">
            <img src="~/imagen/dulce8.jpeg" class="card-img-top" alt="Dulce">
            <div class="card-body">
                <h5 class="card-title">Tres Leches</h5>
                <p class="card-text">
                    -Ingredientes: Harina, Huevos, Leche Entera, Azucar Blanca, Crema Chantilly y Polvo de Hornear.
                    <br>
                    -Opcional: Vainilla, Canela y Cereza
                </p>
                <div class="d-flex justify-content-between align-items-center">
                    <span class="text-muted" style="font-size: 22px; font-weight: bold;">$5.00</span>
                    <button class="btn btn-primary btn-agregar" data-id="4" data-nombre="Tres Leches" data-precio="5.00">Agregar al Carrito</button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4 mb-4">
        <div class="card">
            <img src="~/imagen/dulce5.png" class="card-img-top" alt="Dulce">
            <div class="card-body">
                <h5 class="card-title">Carlota</h5>
                <p class="card-text">
                    -Ingredientes: Leche evaporada, Leche condensada, limón y galleta maria
                    <br>
                    -Opcional: Galleta de sal, Galleta de chocolate o melocotones
                </p>
                <div class="d-flex justify-content-between align-items-center">
                    <span class="text-muted" style="font-size: 22px; font-weight: bold;">$5.00</span>
                    <button class="btn btn-primary btn-agregar" data-id="5" data-nombre="Carlota" data-precio="5.00">Agregar al Carrito</button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4 mb-4">
        <div class="card">
            <img src="~/imagen/dulce9.jpeg" class="card-img-top" alt="Dulce">
            <div class="card-body">
                <h5 class="card-title">Dulce Zanahoria</h5>
                <p class="card-text">
                    -Ingredientes: Zanahoria, Harina, Leche entera, Mantequilla, Azúcar, Huevos, Polvo de Hornear
                    <br>
                    -Opcional: Vainilla, Canela, Nueces o Pasitas
                </p>
                <div class="d-flex justify-content-between align-items-center">
                    <span class="text-muted" style="font-size: 22px; font-weight: bold;">$8.00</span>
                    <button class="btn btn-primary btn-agregar" data-id="6" data-nombre="Dulce Zanahoria" data-precio="8.00">Agregar al Carrito</button>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


<script type="text/javascript">
    $(document).ready(function () {
        
        $(".btn-agregar").click(function (e) {
            e.preventDefault(); 
            var productoID = $(this).data("id");
            var nombre = $(this).data("nombre");
            var precio = $(this).data("precio");

            
            $.ajax({
                url: '@Url.Action("AgregarAlCarrito", "Home")',  
                type: 'POST',
                data: {
                    productoID: productoID,
                    nombre: nombre,
                    precio: precio
                },
                success: function (response) {
                    if (response.success) {
                        alert("Producto agregado al carrito.");
                    } else {
                        alert("Hubo un error al agregar el producto.");
                    }
                },
                error: function () {
                    alert("Hubo un error en la solicitud.");
                }
            });
        });
    });
</script>
