@{
    ViewBag.Title = "Quiénes Somos";
}

<div class="container mt-5">
    <h1 class="text-center">Quiénes Somos</h1>
    <br>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <p class="text-justify">
                Bienvenidos a <strong>PEDACITO DE CIELO</strong>, una empresa dedicada a endulzar tus días con los mejores dulces artesanales.
                Nuestra misión es ofrecer productos de la más alta calidad, elaborados con amor y dedicación, utilizando ingredientes
                cuidadosamente seleccionados para brindar una experiencia inolvidable a cada cliente.
            </p>
            <p class="text-justify">
                Fundada en 2023, PEDACITO DE CIELO comenzó con la visión de traer un pedacito de dulzura y felicidad a cada hogar.
                Desde entonces, hemos crecido gracias a la confianza de nuestros clientes y el compromiso de nuestro equipo.
            </p>
            <p class="text-justify">
                Creemos en la importancia de la comunidad y trabajamos para apoyar causas sociales, participando activamente en eventos locales.
                Gracias por ser parte de nuestra historia. ¡Estamos encantados de compartir este dulce viaje contigo!
            </p>
        </div>
    </div>
</div>
